 <footer class="border-top footer text-muted">

    <style>
        footer {
            position: fixed; 
            bottom: 0; 
            width: 100%; 
            height: 60px; 
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
            text-align: center;
            line-height: 50px;
        }
    </style>

    <div class="container">
        &copy; 2024  <a asp-area="" asp-controller="User" asp-action="kayit">Privacy</a>
    </div>
    </footer>
