@{
    ViewData["Title"] = "User Page";
}
@model LoginData

@Html.Partial("_ValidationScriptsPartial")

<div class="container">
    <div class="col-5 mt-5 mx-auto">
        <div class="card shadow-lg border-2 p-3">
            <h3 class="text-center text-black"><i class="bi bi-box-arrow-in-right"></i>  Giriş Yap</h3>

            <form asp-action="Index" asp-controller="User" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-normal"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label fw-normal">Şifre</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Giriş</button>
                </div>

            </form>
        </div>
    </div>
</div>